
<!DOCTYPE html>
<html>
	<head>
		<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
	</head>
	<body>
		<div class = "header">
			<h1><a style="text-decoration:none" href="/"> Shivam Sinha</a> </h1>
		</div>
		<div class="row">
			<div class="column left">
				<h2> About Me  </h2>
				<p> Hello, I'm <strong>Shivam</strong>, I'm a Software Engineer who's currently preparing for interviews. I am also using this blog as a method to keep track of my preparation.</p>
				<p> You can have a look at my previous posts, resume on the right side! </p>
				<p> In case you liked anything, or would like to <i>hire</i> me, you can contact me here, <a href="mailto:shivamsinha212@gmail.com">Mail</a> or at <a href="https://www.linkedin.com/in/shivamsinha212/">LinkedIn</a>.
				<p> My Github : <a href = "https://github.com/shivam212"> shivam212 </a></p>
			</div>
			<div class="column right" style="margin-left: 100px">
				<h2> Links </h2>
					<a href="https://drive.google.com/file/d/1zdeIO7TaNyQ7K4oGyuqCxoc0MgSc_Xca/view?usp=sharing"><p> Resume </p></a>
					<a href='/archive'><p> Archive </p></a>
					<a href='/aboutme'><p> About Me </p></a>
			</div>
		</div>
	</body>
</html>
