
<!DOCTYPE html>
<html>
	<head>

		<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
	</head>
	<body>
		<div class = "header">
			<h1><a style="text-decoration:none" href="/"> Shivam Sinha</a> </h1>
		</div>
		<div class="row">
			<div class="column left">
				<h2> Archive  </h2>
				<h4> A list of all the blog posts </h4>
				{%for title in titles%}
				 	<a href="blogpost/{{title[1]}}"><p>{{title[0]}}</p></a>
				 {%endfor%}
			</div>
			<div class="column right" style="margin-left: 100px">
				<h2> Links </h2>
					<a href="https://drive.google.com/file/d/1zdeIO7TaNyQ7K4oGyuqCxoc0MgSc_Xca/view?usp=sharing"><p> Resume </p></a>
					<a href='/archive'><p> Archive </p></a>
					<a href='/aboutme'><p> About Me </p></a>
			</div>
		</div>
	</body>
</html>
